<a href="https://colab.research.google.com/github/crhx/Dataengy/blob/main/week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
book_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/books.csv')

In [3]:
drop_df = book_data.drop(['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver', 'Issuance type', 'Shelfmarks'], axis=1)

use_col_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/books.csv', usecols=['Identifier', 'Place of Publication', 'Date of Publication',
       'Publisher', 'Title', 'Author', 'Contributors', 'Flickr URL'])

In [44]:
import re
import numpy as np

extr = book_data['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

0    1879
1    1868
2    1869
3    1851
4    1857
Name: Date of Publication, dtype: object

In [126]:
unilist = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/uniplaces.txt', delimiter="\n", header=None)
unilist.head()

                                                 0
0                                    Alabama[edit]
1                    Auburn (Auburn University)[1]
2           Florence (University of North Alabama)
3  Jacksonville (Jacksonville State University)[2]
4       Livingston (University of West Alabama)[2]

In [155]:

new_df  = pd.DataFrame(columns = ['State', 'City', 'School'])

new_df['State'] = unilist[unilist[0].str.contains('edit')]
new_df['State'] = new_df['State'].str.replace('\[edit\]', '')
new_df['School'] = unilist[unilist[0].str.contains('')]
new_df['School'] = new_df['School'].str.replace('(', '')
new_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

         State City            School
0      Alabama  NaN     Alabama[edit]
9       Alaska  NaN      Alaska[edit]
11     Arizona  NaN     Arizona[edit]
15    Arkansas  NaN    Arkansas[edit]
24  California  NaN  California[edit]